.header {
    background: #757373;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: auto;
    grid-template-rows: 50px 15vh auto;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}